.pageSubscriptionChild {
    position: absolute;
    top: 248.72px;
    left: 1319.72px;
    width: 583.8px;
    height: 583.8px;
    object-fit: contain;
}
.pageSubscriptionItem {
    position: absolute;
    top: 1.91px;
    left: -280.31px;
    width: 465.1px;
    height: 460.3px;
    object-fit: contain;
}
.component1Child {
    position: absolute;
    height: 158.78%;
    width: 200.67%;
    top: -34.18%;
    right: -73.51%;
    bottom: -24.6%;
    left: -27.16%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.diamond {
    position: absolute;
    top: 5.69%;
    left: calc(50% - 56.02px);
    line-height: 34.81px;
    font-weight: 600;
}
.span {
    font-size: 26px;
}
.rp12500000 {
    position: absolute;
    height: 8.1%;
    top: 31.51%;
    left: calc(50% - 104.52px);
    line-height: 34.81px;
    font-weight: 600;
    display: inline-block;
    width: 208.6px;
    font-size: 18.8px;
}
.deskripsiPendekPaket {
    margin: 0;
}
.deskripsiPendekPaketContainer {
    position: absolute;
    height: 13.45%;
    top: 17.24%;
    left: calc(50% - 133.54px);
    font-size: 17.33px;
    line-height: 23.2px;
    display: inline-block;
    width: 267.1px;
}
.benefit1BenefitContainer {
    position: absolute;
    height: 39.14%;
    top: 59.59%;
    left: calc(50% - 113.06px);
    font-size: 15.36px;
    line-height: 23.2px;
    text-align: left;
    display: inline-block;
    width: 225.3px;
}
.frameChild {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1.4439421892166138px 2.17px rgba(0, 0, 0, 0.25);
    border-radius: 5.78px;
    width: 234.6px;
    height: 43.3px;
}
.langgananSekarang {
    position: absolute;
    top: 9.39px;
    left: 12.27px;
    line-height: 23.2px;
    display: inline-block;
    width: 208.6px;
    height: 24.5px;
}
.rectangleParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 234.6px;
    height: 43.3px;
}
.frame1334variant3 {
    position: absolute;
    height: 10.34%;
    top: 44.76%;
    bottom: 44.9%;
    left: calc(50% - 117.33px);
    border-radius: 3.41px;
    background-color: #11a6a5;
    width: 234.6px;
    font-size: 15.88px;
    color: #f8f8f8;
}
.component1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 267.1px;
    height: 418.7px;
    overflow: hidden;
}
.platinum {
    position: absolute;
    top: 5.69%;
    left: calc(50% - 55.02px);
    line-height: 34.81px;
    font-weight: 600;
}
.component5 {
    position: absolute;
    top: 0px;
    left: 299.13px;
    width: 267.1px;
    height: 418.7px;
    overflow: hidden;
}
.gold {
    position: absolute;
    top: 5.69%;
    left: calc(50% - 29.02px);
    line-height: 34.81px;
    font-weight: 600;
}
.component3 {
    position: absolute;
    top: 0px;
    left: 598.26px;
    width: 267.1px;
    height: 418.7px;
    overflow: hidden;
}
.platinum1 {
    position: absolute;
    top: 5.69%;
    left: calc(50% - 35.02px);
    line-height: 34.81px;
    font-weight: 600;
}
.component4 {
    position: absolute;
    top: 0px;
    left: 897.39px;
    width: 267.1px;
    height: 418.7px;
    overflow: hidden;
}
.component1Parent {
    position: absolute;
    top: 422px;
    left: 173px;
    filter: blur(30px);
    width: 1164.5px;
    height: 418.7px;
    mix-blend-mode: lighten;
}
.groupChild {
    position: absolute;
    height: 80.26%;
    width: 78.63%;
    top: 0%;
    right: 0.02%;
    bottom: 19.74%;
    left: 21.36%;
    box-shadow: 0px 4.591551780700684px 4.59px rgba(0, 0, 0, 0.25);
    border-radius: 5.78px;
    background: linear-gradient(180deg, #faebfc, #e2b6e9);
}
.groupItem {
    position: absolute;
    height: 43.36%;
    width: 66.59%;
    top: 56.66%;
    right: 33.41%;
    bottom: -0.01%;
    left: 0%;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(36, 187, 140, 0.17), rgba(36, 187, 140, 0));
}
.groupDiv {
    position: absolute;
    height: 124.6%;
    width: 127.18%;
    top: 0%;
    right: -0.02%;
    bottom: -24.6%;
    left: -27.16%;
}
.component1Item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4.591551780700684px 4.59px rgba(0, 0, 0, 0.25);
    border-radius: 5.78px;
    background-color: #fff;
    opacity: 0.08;
    mix-blend-mode: linear-dodge;
}
.component1Inner {
    position: absolute;
    top: 235.68px;
    left: 151.76px;
    width: 322.1px;
    height: 322.1px;
    object-fit: contain;
}
.platinum2 {
    position: absolute;
    top: 22.61%;
    left: calc(50% - 62px);
    line-height: 34.81px;
    font-weight: 600;
}
.rp125000004 {
    position: absolute;
    height: 8.1%;
    top: 43.13%;
    left: calc(50% - 104.52px);
    line-height: 34.81px;
    font-weight: 600;
    display: inline-block;
    width: 208.6px;
    font-size: 18.8px;
}
.deskripsiPendekPaket8 {
    position: absolute;
    height: 8.77%;
    top: 32.78%;
    left: calc(50% - 119.89px);
    font-size: 12.38px;
    line-height: 15.96px;
    display: inline-block;
    width: 239.3px;
}
.soalPaketTry {
    margin-bottom: 0px;
}
.soalPaketTryOutUnlimitedL {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 20px;
}
.benefit1BenefitContainer4 {
    position: absolute;
    height: 27.51%;
    top: 70.39%;
    left: calc(50% - 113.06px);
    font-size: 15.36px;
    line-height: 21.51px;
    text-align: left;
    display: inline-block;
    width: 225.3px;
}
.frame1334variant34 {
    position: absolute;
    height: 10.34%;
    top: 55.56%;
    bottom: 34.1%;
    left: calc(50% - 117.33px);
    border-radius: 3.41px;
    background-color: #11a6a5;
    width: 234.6px;
    font-size: 15.88px;
    color: #f8f8f8;
}
.ellipseDiv {
    position: absolute;
    top: 15.64px;
    left: 99.85px;
    border-radius: 50%;
    background-color: #11a6a5;
    width: 66.6px;
    height: 66.6px;
}
.maskGroupIcon {
    position: absolute;
    top: 19.91px;
    left: 102.41px;
    width: 61.9px;
    height: 57.3px;
    object-fit: contain;
}
.component11 {
    width: 267.1px;
    position: relative;
    height: 418.7px;
    overflow: hidden;
    flex-shrink: 0;
}
.groupInner {
    position: absolute;
    height: 80.26%;
    width: 78.63%;
    top: 0%;
    right: 0.02%;
    bottom: 19.74%;
    left: 21.36%;
    box-shadow: 0px 4.591551780700684px 4.59px rgba(0, 0, 0, 0.25);
    border-radius: 5.78px;
    background: linear-gradient(180deg, #cbfff0, #b2cffb);
}
.platinum3 {
    position: absolute;
    top: 22.61%;
    left: calc(50% - 61px);
    line-height: 34.81px;
    font-weight: 600;
}
.groupChild2 {
    position: absolute;
    height: 80.26%;
    width: 78.63%;
    top: 0%;
    right: 0.02%;
    bottom: 19.74%;
    left: 21.36%;
    box-shadow: 0px 4.591551780700684px 4.59px rgba(0, 0, 0, 0.25);
    border-radius: 5.78px;
    background: linear-gradient(180deg, #fff8cf 10.5%, #f9d615);
}
.platinum4 {
    position: absolute;
    top: 22.61%;
    left: calc(50% - 33px);
    line-height: 34.81px;
    font-weight: 600;
}
.groupChild4 {
    position: absolute;
    height: 80.26%;
    width: 78.63%;
    top: 0%;
    right: 0.02%;
    bottom: 19.74%;
    left: 21.36%;
    box-shadow: 0px 4.591551780700684px 4.59px rgba(0, 0, 0, 0.25);
    border-radius: 5.78px;
    background: linear-gradient(180deg, #f1f6fc 17%, #b5c9da);
}
.platinum5 {
    position: absolute;
    top: 22.61%;
    left: calc(50% - 40px);
    line-height: 34.81px;
    font-weight: 600;
}
.component1Group {
    position: absolute;
    top: 422px;
    left: calc(50% - 583px);
    filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.4)) drop-shadow(0px 1px 5px rgba(2, 57, 27, 0.3));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    font-size: 28.55px;
}
.rectangleIcon {
    position: absolute;
    top: 0px;
    left: calc(50% - 582.5px);
    border-radius: 6px;
    width: 1165px;
    height: 158px;
}
.silver {
    position: absolute;
    top: 53.8%;
    left: calc(50% - 50.5px);
    line-height: 49.24px;
    font-weight: 600;
}
.paketAndaSaat {
    position: relative;
    top: 11.39%;
    left: calc(50% - 107.5px);
    font-size: 24px;
    line-height: 32.14px;
    text-align: left;
}
.lineDiv {
    position: absolute;
    top: 58.99px;
    left: calc(50% - 571px);
    border-top: 1px solid #777;
    box-sizing: border-box;
    width: 1140px;
    height: 1px;
}
.vectorParent {
    position: absolute;
    top: 184px;
    left: 350px;
    box-shadow: 0px 0px 5px rgba(2, 57, 27, 0.3);
    width: 1165px;
    height: 158px;
    font-size: 36.77px;
}



.heading {
    align-self: stretch;
    position: relative;
    line-height: 20.99px;
    font-weight: 600;
}
.text {
    position: relative;
    line-height: 25.18px;
    font-weight: 500;
}
.buttonBase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.text8 {
    position: relative;
    line-height: 18.89px;
    font-weight: 500;
}
.badgeBase {
    border-radius: 16.79px;
    background-color: #f2f4f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2.1px 8.4px;
}
.badge {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    mix-blend-mode: normal;
    text-align: center;
    font-size: 12.59px;
    color: #101828;
}
.links {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 33.6px;
    font-size: 14.69px;
}



.socialIcon4 {
    width: 25.2px;
    position: relative;
    height: 25.2px;
}



.navbarHome2Child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f8f8f8;
    width: 1512px;
    height: 53px;
}
.logo11 {
    width: 100px;
    position: relative;
    height: 42.6px;
    object-fit: cover;
}
.home {
    position: relative;
    line-height: 25.2px;
}
.subscription {
    position: relative;
    text-decoration: underline;
    line-height: 25.2px;
    color: #11a6a5;
}
.homeParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 21px;
}
.frameIcon {
    width: 42px;
    position: relative;
    height: 41px;
    object-fit: cover;
}
.logo11Parent {
    position: absolute;
    top: 3px;
    left: calc(50% - 660.5px);
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 400px;
}
.navbarHome2 {
    position: absolute;
    top: 0px;
    left: calc(50% - 756px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1512px;
    height: 53px;
    text-align: left;
    font-size: 14px;
    color: #000;
}
.pageSubscription {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #88d5d4 7.04%, #11a6a5 50.87%, #089897 91.23%);
    height: 982px;
    overflow-y: auto;
    text-align: center;
    font-size: 25.99px;
    color: #515151;
    font-family: Inter;
}


/* footer */
.footerLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.footerLinks {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12.6px;
    font-size: 16.79px;
}
.footerLinksColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16.8px;
}

.footerLink7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8.4px;
}
.footer1 {
    width: 1510.9px;
    background-color: rgba(17, 166, 165, 0.67);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer {
    position: absolute;
    top: 980px;
    left: calc(50% - 755px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 16.79px;
    color: #f0fffe;
}
.footerText {
    flex: 1;
    position: relative;
    letter-spacing: 0.52px;
    line-height: 140%;
    margin-right: 750px;
}

.section1 {
    position: absolute;
    top: 334.71px;
    left: 0px;
    background-color: #101828;
    width: 1510.9px;
    height: 86px;
    color: #8a8a8a;
    font-family: Lato;
}
.content {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 67.2px;
}
.container {
    position: absolute;
    top: 67.15px;
    left: 105.98px;
    width: 1343.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 33.6px;
    box-sizing: border-box;
}

.section {
    align-self: stretch;
    position: relative;
    height: 420.8px;
}
.image2Icon {
    width: 220.3px;
    position: relative;
    height: 75.5px;
    object-fit: cover;
}
.supportingText {
    align-self: stretch;
    position: relative;
    line-height: 25.18px;
}
.logoAndSupportingText {
    width: 335.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 33.6px;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25.2px;
}
.socialIcon {
    width: 25.2px;
    position: relative;
    height: 25.2px;
    overflow: hidden;
    flex-shrink: 0;
}
.content1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 33.6px;
}
.container1 {
    position: absolute;
    top: 30.43px;
    left: 67.15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 33.6px;
}




@media (max-height: 1000px) {
    .footer {
        width: 100%;
        top: 1790px;
    }
}


